openapi: '3.0.2'
info:
  title: ExcursGuide
  description: Все запросы к api серверу осуществляются с помощью application/json запросов
  version: '1.0'
servers:
  - url: https://api.excursguide.ru/api/v1
paths:
  /auth/login:
    post:
      tags:
        - Авторизация
      summary: 'Регистрация пользователя'
      requestBody:
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                name: {type: 'string', example: 'Иванов Иван'}
                email: {type: 'string', example: 'mail@mail.ru'}
                password: {type: 'string', example: 'password'}
                password_confiramate: {type: 'string', example: 'password'}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  data:
                    type: 'object'
                    properties:
                      user:
                        type: 'object'
                        properties:
                          id: {type: 'number', example: '1'}
                          name: {type: 'string', example: 'Иванов Иван'}
                          email: {type: 'string', example: 'mail@mail.ru'}
                      access_token: {type: string}
        '422':
          description: 'Ошибка'
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  data: 
                    type: 'object'
                    properties:
                      message: {type: array}